.randomPlanet {
    background-color: #212227;
    border-radius: 15px;
    padding: 20px;
}

.planetImage {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.planetList h3 {
    color: white;
    background-color: #212227;
    cursor: default;
}

.planetList{
    padding-left: 25px;
    padding-top: 25px;
    background-color: #212227;
}

.planetList .list-group {
    color: white;
}

.planetList .list-group-item {
    background-color: #212227 !important;
    cursor: default;
}

.planetList span {
    background-color: #212227
}

.term {
    margin-right: 10px;
}

.spinner {
    border-color: white;
}
