.personDetails {
    margin-top: 35px;
    background-color: #212227;
    border-radius: 15px;
    padding: 20px;
}

.personImage {
    width: 250px;
    height: auto;
    border-radius: 15px;
}

.personList h3 {
    color: white;
    background-color: #212227;
    cursor: default;
}

.personList{
    padding-left: 25px;
    padding-top: 15px;
    background-color: #212227;
}

.personList .list-group {
    color: white;
}

.personList .list-group-item {
    background-color: #212227 !important;
    cursor: default;
}

.personList span {
    background-color: #212227
}

.term {
    margin-right: 10px;
}
